  .frame-footer {
    position: relative;
    left: 10px;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 56px;
    height: 160px;
    width: 1280px;
    background-color: #137d7d;
    margin-top: -4.05%;
  }

  .text-footer {    
    position: relative;
    left: 0%;
    right: 20%;
    top: 40%;
    bottom: 20%;    
    text-align: center;
    vertical-align: center;
    
    font-size: 24px;
    font-family: Roboto;
    line-height: auto;
    color: #ffffff;
  }