.footer-page {
    height: 160px;
    width: 1280px;
    align-items: center;
    background-color: #ffffff;
  }
  .frame-footer {
    border-radius: 56px;
    height: 160px;
    width: 1280px;
    align-items: center;
    background-color: #137d7d;
  }
  .text-footer {
    
    margin: 10%;
    text-align: center;
    vertical-align: center;
    align-items: center;
    font-size: 24px;
    font-family: Roboto;
    line-height: auto;
    color: #ffffff;
  }