
<div class="body-page">
    <body>
        <div class="body-menu"[hidden]="this.isHideMenu">                      
            <app-button-menu [buttonLabel]="'Serviços'" (click)="this.onButtonServiceClick($event)"></app-button-menu>
            <app-button-menu [buttonLabel]="'Clientes'" (click)="this.onButtonClientClick($event)"></app-button-menu>
            <app-button-menu [buttonLabel]="'Agenda'" (click)="this.onButtonAgendaClick($event)"></app-button-menu>
        </div>
    </body>
</div>
