<div class="body-page">
    <div class="body-form">
    <form #form="ngForm" class="col s12"(ngSubmit)="onSubmit()">
        <div class="row">
            <div class="input-field col s4">
              <input            
               id="codigoAgenda" 
               type="text" 
               disabled="true"
               class="validate"
               [(ngModel)]="this.agenda.codigoAgenda" 
               name="codigoAgenda"
               #codigoagenda="ngModel"
               required
               >
              <label for="codigoAgenda">Código Agendamento</label>
            </div>
            <div class="input-field col s2">
              <input            
               id="id" 
               type="number" 
               disabled="true"
               class="validate"
               [(ngModel)]="this.agenda.id" 
               name="id"
               #codigoagenda="ngModel"
               required
               >
              <label for="id">Id Agendamento</label>
            </div>
            <div class="input-field col s3">
              <input 
                id="dataAgenda" 
                type="text" 
                class="validate"
                [(ngModel)]="this.agenda.dataAgenda" 
                name="dataAgenda"
                pattern="^(0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[0-2])\/\d{4}$"
                #dataagenda="ngModel"
                required
                >
              <label for="dataAgenda">Data Agendamento</label>
              <div class="red-text" [hidden]="dataagenda.valid || dataagenda.untouched">
                Por favor informe uma data válida no formato dd/mm/aaaa
              </div>
            </div>
        
            <div class="input-field col s3">
              <input 
                id="horaAgenda" 
                type="text" 
                class="validate"
                [(ngModel)]="this.agenda.horaAgenda" 
                name="horaAgenda"
                pattern="^([01][0-9]|2[0-3]):([0-5][0-9])$"
                #horaagenda="ngModel"
                required
                >
              <label for="horaAgenda">Hora Agendamento</label>
              <div class="red-text" [hidden]="horaagenda.valid || horaagenda.untouched">
                Por favor informe uma hora válida
              </div>
            </div>
        </div> 

        <div class="row" >            
           <div class="input-field col s6">
            <label for="clienteId">Cliente</label>
            <select 
              id="clienteId"     
              class="validate"                          
              [(ngModel)]="agenda.clienteId" 
              #clientselect="ngModel"
              #clientSelect
              name="clienteId"
              [compareWith]="compareWithClients"
              required
              >                             
              <option *ngFor="let cliente of clientes" [ngValue]="cliente">{{ cliente.nomeCliente }}</option>
            </select >
             <div class="red-text" [hidden] = "clientselect.valid || clientselect.untouched">
              Por favor informar o cliente
             </div>
           </div> 
        </div>
        <div class="row">            
          <div class="input-field col s6">
            <label for="servicoId">Serviço</label>
           <select 
             id="servicoId"
             class="validate"                 
             [(ngModel)]="agenda.servicoId"
             #serviceselect="ngModel"
             #serviceSelect 
             name="servicoId"
             [compareWith]="compareWithServices"
             required
             >               
             <option *ngFor="let servico of servicos" [ngValue]="servico">{{ servico.descricaoServico }}</option>
           </select >
           <div class="red-text" [hidden] = "serviceselect.valid || serviceselect.untouched">
            Por favor informar o servico
           </div>            
          </div>
       </div>
        <div class="row">
            <div class="input-field col s3">
              <input 
                id="valorServico" 
                type="number" 
                class="validate"
                [(ngModel)]="this.agenda.valorServico" 
                pattern="^(?!0\.00$)(?!0$)\d+(\.\d{2})?$"
                name="valorServico"
                #valorservico="ngModel"
                required
                >
              <label for="valorServico">Valor</label>
              <div class="red-text" [hidden] = "valorservico.valid || valorservico.untouched">
                Por favor informar o valor corretamente!
               </div>
            </div>
        </div>
        <div class="row">              
            <div class="col s6"><button 
                                class="btn waves-effect waves-green btn-large full-width" 
                                name="backtomenu"
                                (click)="this.onMenuClick($event)">voltar para lista <i class="material-icons right">arrow_back</i>
            </button></div>
            <div class="col s6"><button 
                                class="btn waves-effect waves-green btn-large full-width" 
                                type="submit" 
                                [disabled]="!form.valid"
                                name="action">Gravar<i class="material-icons right">send</i>
             </button></div>
           
        </div>       
    </form>
    </div>
    </div>
