<div class="body-page">
    <div class="body-list">
        <table class="striped">
            <thead>
              <tr>
                  <th>Código</th>
                  <th>Descrição</th>
                  <th>Valor</th>
                  <th>Ação</th>
              </tr>
            </thead>
    
            <tbody>
             
              <tr *ngFor="let servico of this.servicos">
                <td [width]="400">{{servico.codigoServico}}</td>
                <td>{{servico.descricaoServico}}</td>
                <td>{{servico.valorServico}}</td>
                <td [width]="100">
                  <a (click)="onClickItem(servico)" href ="" class="secondary-content"><i
                      class="material-icons left white-text">update</i></a>                     
                  <a href ="" class="secondary-content"><i
                  class="material-icons left red-text">delete</i></a>                   
              </td>
              </tr>
            </tbody>
          </table>
          <div class="row" style="margin: 10%;">              
            <div class="col s6"><button 
                                 class="btn waves-effect waves-green btn-large full-width" 
                                 name="backtomenu"
                                 (click)="this.onButtonMenuClick($event)">menu <i class="material-icons right">arrow_back</i>
            </button></div>
            <div class="col s6"><button 
                                 class="btn waves-effect waves-green btn-large full-width" 
                                 type="submit" 
                                 name="action"
                                 (click)="this.onButtonServiceClick($event)">Novo 
              <i class="material-icons right">send</i>
             </button></div>
           
        </div>  
    </div>  
</div>       
