<div class="body-page"> 
<div class="body-form">
<form #form="ngForm" class="col s12"(ngSubmit)="onSubmit()">
    <div class="row">
        <div class="input-field col s3">
          <input            
           id="codigoServico" 
           type="text"
           disabled="true" 
           class="validate"
           [(ngModel)]="this.servico.codigoServico" 
           #codigoservico="ngModel"
           name="codigoServico"
           required>
          <label for="codigoServico">Código Serviço</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
          <input 
            id="descricaoServico" 
            type="text" 
            class="validate"
            [(ngModel)]="this.servico.descricaoServico" 
            name="descricaoServico"
            #descricao="ngModel"
            pattern="^.{5,}$"
            required
            >
          <label for="descricaoServico">Descrição</label>
          <div class="red-text" [hidden]="descricao.valid || descricao.untouched">
            A descrição do serviço precisa ter mais de 5 caracteres
          </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s3">
          <input 
            id="valorServico" 
            type="number" 
            class="validate"
            [(ngModel)]="this.servico.valorServico" 
            name="valorServico"
            #valorservico="ngModel"
            pattern="^(?!0\.00$)(?!0$)\d+(\.\d{2})?$"
            required
            >
          <label for="valorServico">Valor do Serviço</label>
          <div class="red-text" [hidden] = "valorservico.valid || valorservico.untouched">
            Por favor informar o valor corretamente!
          </div>
        </div>
    </div> 
    <div class="row">              
        <div class="col s6"><button 
                            class="btn waves-effect waves-green btn-large full-width" 
                            name="backtomenu"
                            (click)="this.onMenuClick($event)">voltar para lista <i class="material-icons right">arrow_back</i>
        </button></div>
        <div class="col s6"><button class="btn waves-effect waves-green btn-large full-width" type="submit" 
          name="action"
          [disabled]="!form.valid">Gravar 
          <i class="material-icons right">send</i>
         </button></div>
       
    </div>       
</form>
</div>
</div>