<div class="body-page">
    <div class="body-form">
    <form #form="ngForm" class="col s12"(ngSubmit)="onSubmit()">
        <div class="row">
            <div class="input-field col s6">
              <input            
               id="codigoCliente" 
               type="text" 
               disabled="true"
               class="validate"               
               [(ngModel)]="this.cliente.codigoCliente"
               #codigocliente="ngModel" 
               name="codigoCliente"               
               required>
              <label for="codigoCliente">Código Cliente</label>
            </div>
            <div class="input-field col s6">
              <input            
               id="id" 
               type="number" 
               disabled="true"
               class="validate"               
               [(ngModel)]="this.cliente.id"
               #codigocliente="ngModel" 
               name="id"               
               required>
              <label for="id">Id Cliente</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
              <input 
                id="nomeCliente" 
                type="text" 
                class="validate"
                [(ngModel)]="this.cliente.nomeCliente"
                #nomecliente="ngModel"
                pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+" 
                name="nomeCliente"
                required
                >
              <label for="nomeCliente">Nome</label>
              <div class="red-text" [hidden]="nomecliente.valid || nomecliente.untouched">
                Por favor, informe o seu nome completo.
              </div>              

            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
              <input 
                id="celularCliente" 
                type="text" 
                class="validate"
                [(ngModel)]="this.cliente.celularCliente"
                #celularcliente="ngModel"
                pattern="^\(\d{2}\) \d{5}-\d{4}$" 
                name="celularCliente"
                required
                >
              <label for="celularCliente">Celular</label>
              <div class="red-text" [hidden]="celularcliente.valid || celularcliente.untouched">
                Informe no Formato valido (99) 99999-9999.
              </div>
            </div>
        </div> 
        <div class="row">
            <div class="input-field col s3">
              <input 
                id="emailCliente" 
                type="text" 
                class="validate"
                [(ngModel)]="this.cliente.emailCliente"
                #emailcliente="ngModel"
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
                name="emailCliente"
                required
                >
              <label for="emailCliente">Email</label>
              <div class="red-text" [hidden]="emailcliente.valid || emailcliente.untouched">
                Informe um email valido.
              </div>
            </div>
        </div> 
        <div class="row">              
            <div class="col s6"><button 
                                class="btn waves-effect waves-green btn-large full-width" 
                                name="backtomenu"
                                (click)="this.onMenuClick($event)">voltar para lista <i class="material-icons right">arrow_back</i>
            </button></div>
            <div class="col s6"><button class="btn waves-effect waves-green btn-large full-width" type="submit" 
              name="action"
              [disabled]="!form.valid">Gravar 
              <i class="material-icons right">send</i>
             </button></div>
           
        </div>       
    </form>
    </div>
    </div>